:root {
  color-scheme: dark;
  font-family: monospace;
  font-size: 1.5em;
  /* should be in sync with Dither.astro */
  --color: #4b4;
  --accent: lime;
  background-color: black;
  color: white;
}
a {
  color: var(--color);
}
a:hover {
  color: var(--accent);
}
body {
  margin: 0;
}
#everything {
  display: flex;
  margin: 0 auto;
  max-width: 1920px;
  height: 100vh;
}
#everything > * {
  width: 50%;
  height: 100vh;
  overflow-y: auto;
}
article {
  padding: 1em;
}
img,
video {
  width: 100%;
  display: block;
}
* {
  box-sizing: border-box;
}
h1 {
  padding-top: 3em;
  color: var(--color);
}
hr {
  padding-top: 5em;
  border: none;
  border-bottom: 2px solid white;
}
@media screen and (max-width: 960px) {
  :root {
    font-size: initial;
  }
  #everything > *:nth-child(1) {
    width: 66%;
  }
  #everything > *:nth-child(2) {
    width: 34%;
  }
}
