:root {
  color-scheme: dark;
  /* font-family: monospace; */
  font-family: "Instrument Serif";
  font-size: 1.5em;
  /* should be in sync with Dither.astro */
  --color: hsl(0 75% 50%);
  --accent: hsl(0 100% 75%);
  background-color: black;
  color: white;
}
*::selection {
  background-color: red;
  color: white;
}
a {
  color: var(--color);
}
a:hover {
  color: var(--accent);
}
body {
  margin: 0;
}
* {
  box-sizing: border-box;
}
hr {
  padding-top: 5em;
  border: none;
  border-bottom: 2px solid white;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color);
}
img,
video {
  width: 100%;
  height: auto;
  display: block;
}
article > p:first-child {
  margin-top: 0;
}
@media screen and (max-width: 960px) {
  :root {
    font-size: initial;
  }
}

@keyframes strobe {
  0% {
  }
  50% {
    filter: brightness(0.8);
  }
  100% {
  }
}
