---
import Shell from "../components/Shell.astro";
---

<Shell>
  <main>
    <nav>
      <a href="/">Home</a>
      <div>---</div>
      <a href="/cum-as-you-are">Cum As You Are</a>
      <a href="/aggregate">Aggregate</a>
      <a href="/first-contact">First Contact</a>
      <a href="/sacrifice">Sacrifice</a>
      <a href="https://ninofiliu.itch.io/whereareu">whereareu.online</a>
      <a href="https://residenceevil.ch/amitheproblem/">Am I The Problem?</a>
      <a href="https://smytten.blog">smytten.blog</a>
      <a href="https://residence-evil.itch.io/cooking-for-william">
        Cooking for William
      </a>
      <a href="https://www.instagram.com/p/CZhII8Vswjd/">Room XYFT</a>
      <a href="https://www.instagram.com/p/CPtJSRtCvJF/">
        As If My Phone Cares About Museums
      </a>
      <div>---</div>
      <a href="https://www.instagram.com/nino.filiu">Instagram</a>
      <a href="https://bsky.app/profile/ninofiliu.com">Bluesky</a>
      <a href="https://twitter.com/ninofiliu">Twitter</a>
      <a href="https://github.com/ninofiliu">Github</a>
      <a href="https://ninofiliu.itch.io/">Itch</a>
      <a
        href="https://ifdigital.institutfrancais.com/en/professional/nino-filiu"
      >
        IFDigital
      </a>
    </nav>
    <article>
      <slot />
    </article>
  </main>
</Shell>

<style>
  main {
    width: 100vw;
    max-width: 1200px;
    padding: 1em;
    display: flex;
    gap: 1em;
    margin: auto;
  }
  nav {
    display: flex;
    flex-direction: column;
    max-width: 256px;
    gap: 8px;
  }
  article {
    flex: 1;
  }
  p {
    width: 100%;
  }

  @media screen and (max-width: 960px) {
    main {
      flex-direction: column;
    }
  }
</style>
