---
import Shell from "../components/Shell.astro";
import SideLinks from "../components/SideLinks.mdx";
---

<Shell>
  <main>
    <h1 class="phone-only header">
      <a href="/">Nino Filiu</a>
      <a href="#phone-menu">☰</a>
    </h1>
    <nav class="desktop-only">
      <a href="/">Nino Filiu</a>
      <p>—</p>
      <SideLinks />
    </nav>
    <article>
      <slot />
    </article>
    <div id="phone-menu">
      <h1 class="phone-only header">
        <a href="/">Nino Filiu</a>
        <a href="#">&times;</a>
      </h1>
      <SideLinks />
    </div>
  </main>
</Shell>

<style>
  main {
    width: 100vw;
    max-width: 1200px;
    padding: 1em;
    display: flex;
    gap: 1em;
    margin: auto;
  }
  nav {
    display: flex;
    flex-direction: column;
    max-width: 256px;
    gap: 8px;
  }
  nav :global(p) {
    margin: 0;
  }
  article {
    flex: 1;
  }
  p {
    width: 100%;
  }
  @media screen and (min-width: 961px) {
    .phone-only {
      display: none !important;
    }
  }

  @media screen and (max-width: 960px) {
    main {
      flex-direction: column;
    }
    .desktop-only {
      display: none;
    }
  }

  #phone-menu {
    position: fixed;
    display: none;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(0.5em);
    overflow-y: auto;
    padding: 1em;
  }
  #phone-menu:target {
    display: block;
  }
  .header {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
  }
  .header a {
    text-decoration: none;
  }
</style>
