:root {
  color-scheme: dark;
  font-family: monospace;
  font-size: 1.5em;
  --color: green;
  --accent: lime;
  background-color: black;
  color: white;
}
a {
  color: var(--color);
}
a:hover {
  color: var(--accent);
}
body {
  display: flex;
  margin: 0 auto;
  max-width: 1920px;
}
body > * {
  width: 50%;
  height: 100vh;
  overflow-y: auto;
}
article {
  padding: 1em;
}
img,
video {
  width: 100%;
  display: block;
}
* {
  box-sizing: border-box;
}
h1 {
  padding-top: 3em;
}
hr {
  padding-top: 5em;
  border: none;
  border-bottom: 2px solid white;
}
