---
import Dither from "../components/Dither.astro";
import Shell from "../components/Shell.astro";
import Showreel from "../components/Showreel.astro";
---

<Shell>
  <div id="everything">
    <article>
      <Dither />
      <slot />
    </article>
    <div>
      <Showreel />
    </div>
  </div>
</Shell>
