---
import Dither from "../components/Dither.astro";
import Shell from "../components/Shell.astro";
import IndexIntro from "./IndexIntro.mdx";
import staggeredCover from "../media/staggered/shadow5.png";
import aggregateCover from "../media/aggregate/running.jpg";
import sacrificeCover from "../media/sacrifice/cover.png";
import { Image } from "astro:assets";

type Work = {
  cover: ImageMetadata;
  title: string;
  desc: string;
  link: string;
};

const works: Work[] = [
  {
    cover: staggeredCover,
    title: "Staggered",
    desc: "A playable poem about shock states and the death of the child self / Personal work / 2025",
    link: "/staggered",
  },
  {
    cover: aggregateCover,
    title: "Aggregate",
    desc: "A queer video game exploring the concepts of desire paths, personnified machine learning, and cruising / With Distraction Collective / 2024",
    link: "/aggregate",
  },
  {
    cover: sacrificeCover,
    title: "Sacrifice",
    desc: "A semi-figurative interactive installation using DJ decks as a gamepad / Personal Work / 2023",
    link: "/sacrifice",
  },
];
---

<Shell>
  <div class="landing">
    <Dither />
    <IndexIntro />
  </div>
  {
    works.map((work) => (
      <a class="work" href={work.link}>
        <Image src={work.cover} alt="" />
        <div class="title">{work.title}</div>
        <div class="desc">{work.desc}</div>
      </a>
    ))
  }
</Shell>

<style>
  body {
  }
  .landing {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
    max-width: 800px;
    margin: 5% auto;
    text-align: center;
  }
  .work {
    position: relative;
    min-height: 500px;
    display: flex;
    text-decoration: none;
    color: white;
  }
  .work:hover {
  }
  .work img {
    position: absolute;
    z-index: -1;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.8);
  }
  .work:hover img {
    animation: flash 0.1s infinite;
  }
  .work .title {
    position: absolute;
    top: 0;
    width: 100%;
    font-size: 5em;
    text-transform: uppercase;
    vertical-align: text-top;
    line-height: 1cap;
  }
  .work .desc {
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 1.5em;
    text-align: end;
  }
</style>
