---
import "./global.css";
import Dither from "../components/Dither.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Nino Filiu</title>
    <link rel="stylesheet" href="/global.css" />
    <link
      rel="icon"
      href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVQIW2Ng+M/wHwAEAQH/7yMK/gAAAABJRU5ErkJggg=="
    />
  </head>
  <body>
    <article>
      <Dither />
      <slot />
    </article>
    <div>
      <img
        loading="lazy"
        src="desktop/0.jpg"
        srcset="desktop/0.jpg 960w, mobile/0.jpg 320w"
        sizes="(max-width: 960px) 320px, 960px"
        style="min-height: 164px;"
      />
      <img
        loading="lazy"
        src="desktop/1.jpg"
        srcset="desktop/1.jpg 960w, mobile/1.jpg 320w"
        sizes="(max-width: 960px) 320px, 960px"
        style="min-height: 164px;"
      />
      <img
        loading="lazy"
        src="desktop/2.jpg"
        srcset="desktop/2.jpg 960w, mobile/2.jpg 320w"
        sizes="(max-width: 960px) 320px, 960px"
        style="min-height: 164px;"
      />
      <img
        loading="lazy"
        src="desktop/3.jpg"
        srcset="desktop/3.jpg 924w, mobile/3.jpg 320w"
        sizes="(max-width: 960px) 320px, 924px"
        style="min-height: 164px;"
      />
      <img
        loading="lazy"
        src="desktop/4.jpg"
        srcset="desktop/4.jpg 629w, mobile/4.jpg 320w"
        sizes="(max-width: 960px) 320px, 629px"
        style="min-height: 164px;"
      />
      <img
        loading="lazy"
        src="desktop/5.jpg"
        srcset="desktop/5.jpg 960w, mobile/5.jpg 320w"
        sizes="(max-width: 960px) 320px, 960px"
        style="min-height: 164px;"
      />
      <img
        loading="lazy"
        src="desktop/6.jpg"
        srcset="desktop/6.jpg 960w, mobile/6.jpg 320w"
        sizes="(max-width: 960px) 320px, 960px"
        style="min-height: 164px;"
      />
      <video src="7.mp4" muted autoplay loop playsinline></video>
      <img
        loading="lazy"
        src="desktop/8.jpg"
        srcset="desktop/8.jpg 564w, mobile/8.jpg 320w"
        sizes="(max-width: 960px) 320px, 564px"
        style="min-height: 164px;"
      />
      <img
        loading="lazy"
        src="desktop/9.jpg"
        srcset="desktop/9.jpg 960w, mobile/9.jpg 320w"
        sizes="(max-width: 960px) 320px, 960px"
        style="min-height: 164px;"
      />
      <img
        loading="lazy"
        src="desktop/10.jpg"
        srcset="desktop/10.jpg 960w, mobile/10.jpg 320w"
        sizes="(max-width: 960px) 320px, 960px"
        style="min-height: 164px;"
      />
      <img
        loading="lazy"
        src="desktop/11.jpg"
        srcset="desktop/11.jpg 629w, mobile/11.jpg 320w"
        sizes="(max-width: 960px) 320px, 629px"
        style="min-height: 164px;"
      />
      <img
        loading="lazy"
        src="desktop/12.jpg"
        srcset="desktop/12.jpg 960w, mobile/12.jpg 320w"
        sizes="(max-width: 960px) 320px, 960px"
        style="min-height: 164px;"
      />
      <img
        loading="lazy"
        src="desktop/13.jpg"
        srcset="desktop/13.jpg 960w, mobile/13.jpg 320w"
        sizes="(max-width: 960px) 320px, 960px"
        style="min-height: 164px;"
      />
      <img
        loading="lazy"
        src="desktop/14.jpg"
        srcset="desktop/14.jpg 960w, mobile/14.jpg 320w"
        sizes="(max-width: 960px) 320px, 960px"
        style="min-height: 164px;"
      />
      <img
        loading="lazy"
        src="desktop/16.jpg"
        srcset="desktop/16.jpg 960w, mobile/16.jpg 320w"
        sizes="(max-width: 960px) 320px, 960px"
        style="min-height: 164px;"
      />
      <img
        loading="lazy"
        src="desktop/17.jpg"
        srcset="desktop/17.jpg 924w, mobile/17.jpg 320w"
        sizes="(max-width: 960px) 320px, 924px"
        style="min-height: 164px;"
      />
      <img
        loading="lazy"
        src="desktop/18.jpg"
        srcset="desktop/18.jpg 960w, mobile/18.jpg 320w"
        sizes="(max-width: 960px) 320px, 960px"
        style="min-height: 164px;"
      />
      <video src="19.webm" muted autoplay loop playsinline></video>
      <img
        loading="lazy"
        src="desktop/20.jpg"
        srcset="desktop/20.jpg 960w, mobile/20.jpg 320w"
        sizes="(max-width: 960px) 320px, 960px"
        style="min-height: 164px;"
      />
      <video src="21.mp4" muted autoplay loop playsinline></video>
      <img
        loading="lazy"
        src="desktop/22.jpg"
        srcset="desktop/22.jpg 924w, mobile/22.jpg 320w"
        sizes="(max-width: 960px) 320px, 924px"
        style="min-height: 164px;"
      />
      <img
        loading="lazy"
        src="desktop/23.jpg"
        srcset="desktop/23.jpg 960w, mobile/23.jpg 320w"
        sizes="(max-width: 960px) 320px, 960px"
        style="min-height: 164px;"
      />
      <img
        loading="lazy"
        src="desktop/24.jpg"
        srcset="desktop/24.jpg 960w, mobile/24.jpg 320w"
        sizes="(max-width: 960px) 320px, 960px"
        style="min-height: 164px;"
      />
      <video src="25.mp4" muted autoplay loop playsinline></video>
    </div>
  </body>
</html>
