---
import "./global.css";
import Dither from "../components/Dither.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Nino Filiu</title>
    <link rel="stylesheet" href="/global.css" />
    <link
      rel="icon"
      href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVQIW2Ng+M/wHwAEAQH/7yMK/gAAAABJRU5ErkJggg=="
    />
  </head>
  <body>
    <article>
      <Dither />
      <slot />
    </article>
    <div>
      <img src="0.jpg" />
      <img src="1.jpg" />
      <img src="2.jpg" />
      <img src="3.jpg" />
      <img src="4.jpg" />
      <img src="5.jpg" />
      <img src="6.jpg" />
      <video src="7.mp4" muted autoplay loop playsinline></video>
      <img src="8.jpg" />
      <img src="9.jpg" />
      <img src="10.jpg" />
      <img src="11.jpg" />
      <img src="12.jpg" />
      <img src="13.jpg" />
      <img src="14.jpg" />
      <img src="16.jpg" />
      <img src="17.jpg" />
      <img src="18.jpg" />
      <video src="19.webm" muted autoplay loop playsinline></video>
      <img src="20.jpg" />
      <video src="21.mp4" muted autoplay loop playsinline></video>
      <img src="22.jpg" />
      <img src="23.jpg" />
      <img src="24.jpg" />
      <video src="25.mp4" muted autoplay loop playsinline></video>
    </div>
  </body>
</html>
